# Do not include azure-functions-worker in this file
# The Python Worker is managed by the Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
PyGithub
openai~=1.68.2
beautifulsoup4
azure-data-tables